<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
</head>
<body>
    <h3>Welcome <%= user.name%></h3>
    <h3>Course:- <%= user.course%></h3>
    <h3>Roll:- <%= user.roll%></h3>
    <h3>Contact:- <%= user.contact%></h3>
</body>
</html>